
<div class="container" id="signup_container">
  <div class="small-6 large-centered columns">
  <h2 class="signup">Sign Up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>


    <div class="field">
      <%= f.label :email, :class => "signup_form" %>
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :username, :class => "signup_form" %>
      <%= f.text_field :username, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password, :class => "signup_form" %>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, :class => "signup_form" %>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div id="form_signup" class="actions" align="center">
      <%= f.submit "Sign Up", :class => 'button' %>
    </div>
  <% end %>

  </div>
</div>
