<h2 id="InterviewTitle">Interview Resources</h2>
  <div class="basic-card">
    <div class="basic-card-image">
      <img src="https://www.educative.io/api/collection/5642554087309312/5679846214598656/image/5665797913444352.png">
    </div>
      <div class="basic-card-content content callout secondary">
        <h5>
          <%= link_to 'Coderust', "https://www.educative.io/profile/view/5642554087309312" %>
        </h5>
        <p>
          Coderust is created by hiring managers & engineers from Facebook, Microsoft,
          eBay and Lyft who have interviewed 500+ candidates. You'll prepare using
          step-by-step visualizations. By the end of this course, you would start
          recognizing patterns and solve 100s of similar problems. Engineers have
          used Coderust to crack the coding interviews at Google, Amazon, Snapchat,
          Uber, Dropbox, Lyft, Facebook, Microsoft, Netflix, Zenefits, Pinterest,
          eBay, Twitter, Cloudera, Salesforce, Tableau and many others. 80 programming
          interview questions with step-by-step visual explanations provide learners
          a faster way to prepare for coding interviews. Solutions are available in
          C++, Java, Python, Javascript, and Ruby.
        </p>
      </div>
    </div>
  </div>
  <div class="basic-card">
    <div class="basic-card-image">
      <img src="https://media.licdn.com/media/AAEAAQAAAAAAAAaBAAAAJGQwMTVhODcxLTBiMTQtNGUwMy1iMWNlLTlkMmNlODI0NzYzMQ.png">
    </div>
      <div class="basic-card-content content callout secondary">
        <h5>
          <%= link_to 'InterviewBit', "https://www.interviewbit.com/" %>
        </h5>
        <p>
             InterviewBit is a platform to learn skills that you need for technology
             jobs. We help you polish your skills and get ready for the job, whether
             you are a fresh college graduate or a working professional.
             We also get you connected with the right companies worldwide based on
             your skills and preferences, and do everything needed to make sure you
             get your dream job.
        </p>
      </div>
    </div>
  </div>
  <div class="basic-card">
    <div class="basic-card-image">
      <img src="http://www.geeksforgeeks.org/wp-content/uploads/Geek_logi_-low_res.png">
    </div>
      <div class="basic-card-content content callout secondary">
        <h5>
          <%= link_to 'GeeksforGeeks', "http://www.geeksforgeeks.org/" %>
        </h5>
        <p>
          Great explanations for different algorithm questions. To me it’s a
          kind of organized algorithm question bank.
        </p>
      </div>
    </div>
  </div>
  <div class="basic-card">
    <div class="basic-card-image">
      <img src="https://press-content.glassdoor.com/app/uploads/GD-logo-white-on-green.jpg">
    </div>
      <div class="basic-card-content content callout secondary">
        <h5>
          <%= link_to 'Glassdoor', "https://www.glassdoor.com/index.htm" %>
        </h5>
        <p>
           Good if you want to see people’s experiences in interviews with different
           companies. Candidates sometimes post questions being asked in their
           interviews as well.
        </p>
      </div>
    </div>
  </div>
  <div class="basic-card">
    <div class="basic-card-image">
      <img src="https://pbs.twimg.com/profile_images/616756001602039808/ojMWri_3.png">
    </div>
      <div class="basic-card-content content callout secondary">
        <h5>
          <%= link_to 'Careercup', "https://www.careercup.com/" %>
        </h5>
        <p>
           Good if you want to see people’s experiences in interviews with different
           companies. Candidates sometimes post questions being asked in their
           interviews as well.
        </p>
      </div>
    </div>
  </div>
  <div class="basic-card">
    <div class="basic-card-image">
      <img src="https://leetcode.com/static/images/LeetCode_Sharing.png">
    </div>
      <div class="basic-card-content content callout secondary">
        <h5>
          <%= link_to 'LeetCode', "https://leetcode.com/mockinterview/" %>
        </h5>
        <p>
           Good if you want to see people’s experiences in interviews with different
           companies. Candidates sometimes post questions being asked in their
           interviews as well.
        </p>
      </div>
    </div>
  </div>
  <div class="basic-card">
    <div class="basic-card-image">
      <img src="https://i.ytimg.com/vi/w8xZkx-4wFo/hqdefault.jpg">
    </div>
      <div class="basic-card-content content callout secondary">
        <h5>
          <%= link_to 'Grokking the System Desgin Interview', "https://www.educative.io/collection/5668639101419520/5649050225344512" %>
        </h5>
        <p>
           Good if you want to see people’s experiences in interviews with different
           companies. Candidates sometimes post questions being asked in their
           interviews as well.
        </p>
      </div>
    </div>
  </div>
  <div class="basic-card">
    <div class="basic-card-image">
      <img src="https://media.licdn.com/media/p/6/005/08a/13d/1fd81b5.png">
    </div>
      <div class="basic-card-content content callout secondary">
        <h5>
          <%= link_to 'Interview Cake', "https://www.interviewcake.com/" %>
        </h5>
        <p>
           Good if you want to see people’s experiences in interviews with different
           companies. Candidates sometimes post questions being asked in their
           interviews as well.
        </p>
      </div>
    </div>
  </div>
