<div id="login-large-container" class="container">
  <div id="log-in" class="container">
    <h2 id="log-in-title">Log in</h2>
    <div class="small-6 small-centered columns">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email, autocomplete: "on", :class => "text-email"  %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :password, :class => "text-password" %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me,  :class => "text-remember-me"  %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Log In", :class => "button" %>
        </div>
      <% end %>
      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <div id="forgot">
          <%= link_to "Forgot your password?", new_password_path(resource_name), :class => "text-forgot" %><br />
        </div>
      <% end -%>
    </div>
  </div>

</div>
