<h2 id="InterviewTitle">Code Practice Resources</h2>
  <div class="basic-card">
    <div class="basic-card-image">
      <img src="http://www.jeremykruer.com/content/images/2016/11/HackerRankLogo.jpg">
    </div>
      <div class="basic-card-content content callout secondary">
        <h5>
          <%= link_to 'HackerRank', "https://www.hackerrank.com/" %>
        </h5>
        <p>
          The HackerRank team is on a mission to match every developer in the world
          to the right job by providing a technical recruiting platform that assesses
           developers based on actual coding skills. Our solution is revolutionizing
           the way companies discover and evaluate talented developers. HackerRank is
           the destination for the best developers to hone their skills and for
           companies to find top software developers.
        </p>
      </div>
    </div>
  </div>
  <div class="basic-card">
    <div class="basic-card-image">
      <img src="https://www.hastac.org/sites/default/files/upload/images/post/picture.png">
    </div>
      <div class="basic-card-content content callout secondary">
        <h5>
          <%= link_to 'codecademy', "https://www.codecademy.com/" %>
        </h5>
        <p>
          Codecademy is an online interactive platform that offers free coding
          classes in 12 different programming languages including Python, Java,
          PHP, JavaScript, Ruby, SQL, and Sass, as well as markup languages HTML
          and CSS.
        </p>
      </div>
    </div>
  </div>
  <div class="basic-card">
    <div class="basic-card-image">
      <img src="https://ambassador-api.s3.amazonaws.com/uploads/portal/655/2014_09_16_20_43_07_Logo-horizontal.png">
    </div>
      <div class="basic-card-content content callout secondary">
        <h5>
          <%= link_to 'Code School', "https://www.codeschool.com/" %>
        </h5>
        <p>
          Code School is an online learning destination for existing and aspiring
          developers that teaches through entertaining content. Each course is
          built around a creative theme and storyline so that it feels like you’re
          playing a game, not sitting in a classroom. We combine gaming mechanics
          with video instruction and in-browser coding challenges to make learning
          fun and memorable. With over 60 courses covering HTML/CSS, JavaScript,
          Ruby, Python, .NET, iOS, Git, databases, and more, Code School pairs
          experienced instructors with meticulously produced, high-quality content
          inspired by our community and network of members.
        </p>
      </div>
    </div>
  </div>
  <div class="basic-card">
    <div class="basic-card-image">
      <img src="https://upload.wikimedia.org/wikipedia/en/a/a3/Treehouse%27s_logo_%28Jan_2015%29.png">
    </div>
      <div class="basic-card-content content callout secondary">
        <h5>
          <%= link_to 'treehouse', "https://teamtreehouse.com/" %>
        </h5>
        <p>Treehouse is an online technology school that offers
          beginner to advanced courses in web design, web development, mobile
          development and game development taught by a team of expert teachers.
          Its courses are aimed at beginners looking to learn coding skills for
          a career in the tech industry. The Treehouse learning program includes
          videos combined with interactive quizzes and code challenges. Treehouse
          Tracks are guided curricula, composed of courses that train students in
          large topic areas. Treehouse Organizations is designed to assist businesses,
          organizations, schools and community programs in technology training.
          Companies including Simple and LivingSocial currently use Treehouse to
          recruit new employees based on their progress and achievements on Treehouse.
        </p>
      </div>
    </div>
  </div>
  <div class="basic-card">
    <div class="basic-card-image">
      <img src="https://cdn.dealspotr.com/zc-images/merchants/coderbyte.jpg?width=600&height=315&aspect=center">
    </div>
      <div class="basic-card-content content callout secondary">
        <h5>
          <%= link_to 'coderbyte', "https://coderbyte.com/" %>
        </h5>
        <p>
          Coderbyte is a web application built to help you practice programming
          and improve your coding skills. We offer a collection of code challenges
          and web development courses that can help you prepare for an upcoming
          job interview or coding bootcamp. The coding challenges range in difficulty
           and they can all be completed straight through our online application.
        </p>
      </div>
    </div>
  </div>
  <div class="basic-card">
    <div class="basic-card-image">
      <img src="https://www.codeeval.com/static/images/logo.png">
    </div>
      <div class="basic-card-content content callout secondary">
        <h5>
          <%= link_to 'code_eval', "https://www.codeeval.com/" %>
        </h5>
        <p>
          CodeEval is a platform used by developers to showcase their skills.
          Developers can participate in app building competitions and win cash/prizes.
          They can also solve programming challenges as a way to impress employers
          with their technical skills. Employers can use CodeEval as a way to enhance
          their brand by launching competitions/programming challenges and as a means
          to get introduced to the best developers.
        </p>
      </div>
    </div>
  </div>
  <div class="basic-card">
    <div class="basic-card-image">
      <img src="https://d2gn4xht817m0g.cloudfront.net/p/product_screenshots/images/preview505/000/155/390/155390-0e6082933ef0647e22246e2791de61a46afb1ec1.jpg?1364103310">
    </div>
      <div class="basic-card-content content callout secondary">
        <h5>
          <%= link_to 'codewars', "https://www.codewars.com/" %>
        </h5>
        <p>
          CodeEval is a platform used by developers to showcase their skills.
          Developers can participate in app building competitions and win cash/prizes.
          They can also solve programming challenges as a way to impress employers
          with their technical skills. Employers can use CodeEval as a way to enhance
          their brand by launching competitions/programming challenges and as a means
          to get introduced to the best developers.
        </p>
      </div>
    </div>
  </div>
