


<div>
    <h1 class='exercise_page_title'> <%= @language.name%> </h1>
  </div>

  <div class='row' id='restaurant_show_page_box'>
    <div class='small-5 columns' >
      <h5> <%= @exercise.difficulty%> </h5>
      <textarea rows="10" readonly><%= @exercise.description%></textarea>
      <textarea rows="10" readonly><%= @exercise.solution%></textarea>
      <h5> <%= @exercise.date%> </h5>
    </div>
  </div>
